/** @format */

@import "tailwindcss";

/* Apply Helvetica to entire app */
* {
  font-family: "Outfit", "Helvetica", "Arial", sans-serif !important;
}

body {
  font-family: "Outfit", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
